* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
}
#parent {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
canvas {
	/* width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	max-height: 100%;
	max-width: 100%; */
}
.controls-toggle {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: black;
	width: 40px;
	height: 40px;
	border: 2px solid white;
	fill: white;
	padding: 5px;
	cursor: pointer;
	z-index: 999;
}
.controls-toggle svg {
	width: 100%;
	height: 100%;
}
.controls-toggle:hover {
	background-color: white;
	fill: black;
}
.controls-toggle:active {
	background-color: white;
	fill: black;
	opacity: .5;
}
.controls {
	position: absolute;
	top: 0;
	left: 0;
	gap: 10px;
	height: 100vh;
	background-color: rgba(0,0,0,.8);
	padding: 10px;
	display: flex;
	padding-top: 60px;
	flex-direction: column;
	grid-template-columns: 1fr;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	overflow-y: scroll;
	border-right: 2px solid white;
}
.controls[data-hide="1"] {
	display: none;
}
.controls div {
	display: flex;
	flex-direction: column;
}
.controls label {
	font-size: 12px;
	text-transform: uppercase;
	background-color: white;
	color: black;
	padding: 4px 10px 2px 10px;
	line-height: 1em;
	white-space: nowrap;
	width: 100%;
}
.controls input {
	border: 2px solid white;
	color: white;
	background-color: black;
	height: 30px;
	font-size: 18px;
	padding: 4.5px 20px 5px 20px;
	font-family: 'Arial Narrow', sans-serif;
	font-weight: bold;
	text-align: center;
	border-radius: 0;
	line-height: 1em;
}
.controls input:focus {
	outline: unset;
}
.controls button {
	border: 2px solid white;
	color: white;
	background-color: black;
	height: 30px;
	font-size: 18px;
	padding: 4.5px 20px 5px 20px;
	font-family: 'Arial Narrow', sans-serif;
	font-weight: bold;
	text-align: center;
	border-radius: 0;
	line-height: 1em;
	cursor: pointer;
}
.controls button:hover {
	background-color: white;
	color: black;
}
.controls button:active {
	opacity: .5;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 0;
	display: none;
}